@keyframes modal_enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal_exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  animation-name: modal_enter;
}

.modal,
.modal > * {
  animation-duration: .25s;
}

.modal.exiting {
  animation-name: modal_exit;
}
