@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700&subset=hebrew');

body,
html {
  width: 100%;
  position: fixed;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  direction: rtl;
}
